.delayedTrainsList {
  height: 100vh;
  width: 40vw;
  padding: 2rem;
  overflow: scroll;
  background-color: white;
}

.trainSignature {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.table-fixed {
  table-layout: fixed;
}

.ticketContainer {
  padding: 2rem;
  width: 50%;
}

.newTicketBtn {
  margin-top: 15px;
}

.map-container {
  width: 60%;
  height: 90vh;
  background-color: #f0f0f0;
  padding: 1rem;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 1;
}

.login-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cursor-pointer {
  cursor: pointer;
}

.above-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.logout {
  margin: 1rem;
}
